body {
	font-family: Helvetica;
	background-color: rgb(0, 0, 0);
}
title {
	color: rgb(255, 255, 255);
}
h1 {
	color:  rgb(255, 255, 255);
}
h2 {
	color:  rgb(255, 255, 255);
}
h3 {
	color:  rgb(255, 255, 255);
}
p {
	color: rgb(255, 255, 255);
}
i {
	color: rgb(191, 235, 255);
}
a:link {
	color: rgb(74, 255, 250);
}
a:hover {
	color: rgb(166, 255, 253);
}
a:active {
	color:  rgb(255, 255, 255);
}
a:visited {
	color: rgb(74, 255, 250);
}